.seccionppal {

    width: 50%;
    border: 1px solid black;
    padding: 20px;
    justify-content: left;
    margin-right: 40%;
    height: auto;

}

.artprincipal img{

    
    flex-wrap: nowrap;
    width: 609px;
    height: 393px;

    
    }

.artprincipal p {

    width: 60%;
}


.principal {
    
    width: 85%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    
    
}

.principalder {
    
    width: 30%;
    display: inline-block;
    flex-direction: column;
    border: 1px solid black;
    padding: 50px;
    justify-content: right;
    margin-left: 59.8% ;
    margin-bottom: 25%;

    
    
}

.secciones {
    border: 3px solid;
    padding: 30px;
    margin: 20px;

}

.secciones img {

    width: 309px;
    height: 193px;

}


p{

    width: 300px;
}

/* .secciones :hover {

    width: 20%;
    height: 20%;

} */

