@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/* REM y EM se utilizan puntualmente para textos */
/* Es una medida relativa al tamaño de la etiqueta HTML */
/* REM está ligado al font size del HTML */
/* 1 REM = 16px */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-principal: #FFC727;
    --color-complementario: #FFB412;
    --color-secundario: #DFEAFF;
    --color-blanco: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4vh 5vw;
}

header .btn-dropdown {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
}

.header-controls {
    display:none;
}

.header-controls .btn{
background-color: transparent;
border: none;
padding: 10px 0;
width: 130px;
font-size: 1.4rem;
border-radius: 10px;
}



.logo {
    position: relative;
}

.logo div {
    display: flex;
}

.bi-people-fill {
    font-size: 1.7rem;
    position: absolute;
    top: -28px;
    color: var(--color-principal);
}

.bi-bookmark-fill {
    padding-top: 5px;
    color: var(--color-complementario);
}

.logo div h2 {
    line-height: 28px;
    margin-left: 5px;
    margin-top: 5px;
}

.colorPrincipal {

    color: var(--color-principal);
}

main{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {

width: 70%;
display: flex;
flex-direction: column;
gap: 1.2rem;
}

h1{
font-size: 2.2rem;
}

.services{
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
padding: 5vh 0;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
background-color: var(--color-secundario);
margin-top: 5vh;

}
.serviceCard{

   width: 70%;
   border-radius: 10px;
   padding: 15px;
   text-align: center;
   background-color: var(--color-blanco);
}

.serviceCard img {

width:100%;
}

footer{
    width: 70%;
    margin: 0 auto;
    padding-top: 5vh;
    flex-direction: column;
    gap: 3vh;
}

.redes {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
}

.copyright{
font-size: 0.8rem;

}

/*Las media queries deben ir al final. Si se ponen
al principio, van a tapar todo lo anterior*/

@media screen and (min-width: 750px) {
.header-controls {
    display: flex;
    gap: 2vw;
}

header .btn-dropdown {
    display:none;
}
.header-controls .btn-login {
    background-color: var(--color-secundario);
    border: 1px solid #BDBDBD;
    }
}

.header-controls .btn-register {
background-color: var(--color-principal);
color: white;
box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.14);
-webkit-text-stroke: black 1px;        ;
}
}

@media screen and (min-width: 1000px) {}